* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background: #f1f1f1;
    overflow-x: hidden;
    
    padding: 0; 
    margin: 0;
    
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    padding: 8px;
    /* margin: 0 60px; */
    letter-spacing: 2px;
    
}

.nav-link.active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    margin: 0 100px;
    font-size: 16px;
}

.nav-link {
    margin: 0 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

}

.container-header {
    padding: 0;
    max-width: 100%;
    
}

header {
    background: #000000;
    /* max-height: 100%;
    max-width: 100%; */
    text-align: center;
}

/* header p {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    
} */

header .appointment {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 1.2em;;
   color: #f1f1f1;
   cursor: pointer;
   text-align: center;   
}

.call {
    color: white;
}

i {
    margin: 8px;
    color: rgb(33, 106, 214);
}

input  {
    width: 50%;
}

#send {
    background: red;
    color: white;
}

#send:hover {
    background: rgb(253, 58, 58);
}

#send:active {
    background: #2a7de9;
}

.overview {
    background-image: url(https://suncoastinstalls.com/wp-content/uploads/2017/04/outdoor-tv-installation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.overview h2 {
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.overview p {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.button {
    border: 1px solid rgb(19, 61, 199);
    background-color: rgb(19, 61, 199);
    border-radius: 30px;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(31, 78, 233);
    border: 1px solid rgb(31, 78, 233);
    color: white;
    transition: ease-out 0.1s;
}

.button:active {
    background-color: rgb(29, 6, 241);
    color: white;
}


h4 {
    text-align: center;
    margin: 50px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: bold;
    /* position: relative; */
}

.middle p {
    text-align: center;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.562);  
}

.intro h4::after {
    content: ' ';
    display: block;
    width: 250px;
    height: 1px;
    background-color: rgb(62, 95, 185);
    position: absolute;
    left: 40%;
    margin-top: 25px;
}

.img-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.img-row figcaption {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-row img:hover {
    transition: ease 0.4s;
    transform: translateY(-20px);
}

.promo {
    max-width: 100%;
    max-height: 100%; 
    background-color: rgb(57, 163, 235);
    text-align: center;
    color: white;
} 

 .experience {
    font-size: 20px;
    font-weight: bold;
}

#touch {
    background-color: blue;
    padding: 10px;
    width: 120px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
}

#pricing {
    background-color: rgba(245, 245, 220, 0);
    padding: 10px;
    width: 120px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 45px;
} 

.discount {
    background-image: url(https://i.ytimg.com/vi/PX6WasI0FT0/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#sale {
    background-color: rgb(226, 66, 66);
    padding: 20px;
    max-width: 100%;
    color: white;
    border: none;
    cursor: default;
    margin-top: 45px;
}

footer {
    background-color: rgb(0, 0, 32);
    max-width: 100%;
    max-height: 100%;
    padding: 3%;
}

footer .social {
    text-align: center;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-top: 15px;
}

.icons a {
    margin: 5px;
}


 @media screen and (max-width: 1024px) and (min-width: 200px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        /* overflow-x: hidden; */
    }

    header .appointment {
        font-size: small;
    }

    .overview h2 {
        font-size: 20px;
    }

    .img-row {
        display: flex;
        flex-direction: column;
    }
}
    



